.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-box {
  position: relative;
  background-color: white;
  border-radius: 15px;
  padding: 40px 45px;
  box-shadow: 4px 5px 20px #00000066;
}

.modal-close {
  border-radius: 33%;
  color: #636363;
  display: flex;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 35px;
  align-items: center;
  align-content: center;
}

.modal-close:hover {
  background-color: #1f5a9a1a;
}

.visible {
  display: flex;
}

.modal-box input, button {
  font-size: 1.2em;
  width: fit-content;
  margin: auto;
}

.modal-box input {
  margin-bottom: 0em;
}

.invalid-input {
  border: 2px dashed red;
}

.modal-box h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 0px;
}

.modal-box span {
  display: none;
  font-size: 14px;
  font-family: serif;
  color: rgb(212, 41, 41);
  position: absolute;
  margin-top: 5px;
}