.shippicker {
  --picker-background: #ef5c5c;
  position: absolute;
  left: 30px;
  top: 77px;
  min-height: 320px;
  background-color: var(--picker-background);
  padding: 20px;
  box-shadow: 3px 3px 6px #00000021;
  display: flex;
  flex-direction: column;
}

.arrow-left {
  --arrow-size: 25px;
  width: 0; 
  height: 0; 
  border-top: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid transparent; 
  border-right:var(--arrow-size) solid var(--picker-background); 
  position: absolute;
  top: calc(50% - var(--arrow-size));
  left: calc(0px - var(--arrow-size));
}

.shippicker h2 {
  color: white;
  margin: 0 10px 15px 0;
}

.current-ship {
  --border-preview-color: #7feb7f;
  border-color: var(--border-preview-color);
  background-color: var(--border-preview-color); 
  width: fit-content;
  height: fit-content;
}

.current-ship .cell {
  background-color: #c4f9c4;
}

.current-ship-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-grow: 1;
}

.is-vertical {
  flex-direction: column;
}