body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gamearea {
  width: 100%;
  display: flex;
  gap: 4%;
  justify-content: center;
  flex-direction: row;
}

.board {
  cursor: pointer;
  --border-color: rgb(34, 72, 128);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2px;
  background-color: var(--border-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-color);
}

.cell {
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #518cfb;
}

.ship {
  background-color: #d0d0d0;
}

.hit {
  color: #fb5151;
}

.sunk {
  background-color: #ffb0b0;
}

.destroyed-ship {
  width: fit-content;
  --border-destroyed-color: rgb(208 0 0);
  display: flex;
  margin-bottom: 5px;
  grid-gap: 2px;
  background-color: var(--border-destroyed-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-destroyed-color);
}

.destroyed-ship .cell {
  background-color: #ffb0b0;;
}