@font-face {
  font-family: 'SourceCodePro';
  src: url('./assets/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

a {
  color: #8dc3ff;
}

html {
  margin: 0;
  font-family: 'SourceCodePro';
}

body {
  position: relative;
  --navy-blue: #1069b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  align-items: stretch;
}

header {
  text-align: center;
  background-color: var(--navy-blue);
  color: whitesmoke;
  padding: 15px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #4a4947;
  color: white;
}

header h1 {
  font-size: 50px;
  margin: 0px;
}

header p {
  margin: 0px;
}

.gamearea {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 4%;
  justify-content: center;
  flex-direction: row;
}

.board {
  cursor: pointer;
  --border-color: rgb(34, 72, 128);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2px;
  background-color: var(--border-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-color);
  margin-bottom: 30px;
}

.cell {
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #518cfb;
}

.ship {
  background-color: #d0d0d0;
}

.hit {
  color: #fb5151;
}

.sunk {
  background-color: #ffb0b0;
}

.destroyed-ship {
  width: fit-content;
  --border-destroyed-color: rgb(208 0 0);
  display: flex;
  margin-bottom: 5px;
  grid-gap: 2px;
  background-color: var(--border-destroyed-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-destroyed-color);
}

.destroyed-ship .cell {
  background-color: #ffb0b0;
  ;
}

.destroyed-ships-wrapper {
  background-color: #e2e2e2;
  width: 100%;
  padding: 0px 15px;
}

